<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Locadora</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/cliente">Clientes</a></li>
            <li><a href="carro">Carros</a></li>
            <li><a href="/reservas">Reservas</a></li>
        </ul>
    </nav>
    <div class="banner">
        <img src="/img/aluguel.png" alt="">
    </div>
    
    {{{body}}}
</body>
</html>