    {{#if auth}}
    <h1>Seja bem-vindo a área de produtos!</h1>

    </div>
    <ul>
        {{#each products}}
        <li><a href="#">{{this}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    <h1>Você não está logado!</h1>
    <h2>Volte a <a href="/">área inicial</a></h2>
    {{/if}}
    