<h1>O que deseja realizar?</h1>
<ul>
    <li class="btn"><a href="/Reserva/register">Fazer uma reserva</a></li>
    <li class="btn"><a href="/Reserva/consulta">Consultar reserva</a></li>
</ul>
<ul>
    <li class="btn-voltar"><a href="/">Voltar</a></li>
</ul>