<h1>Serviços disponíveis</h1>
<ul>
    <li><a href="Car/inicio"><img src="img/carros.png" alt=""></a></img></li>
    <li><a href="Cliente/inicio"><img src="img/clientes.png" alt=""></a></img></li>
    <li><a href="Reserva/inicio"><img src="img/reservas.png" alt=""></a></img></li>
</ul>