<h1>O que deseja realizar?</h1>
<ul>
    <li class="btn"><a href="/Cliente/register">Cadastrar um cliente</a></li>
    <li class="btn"><a href="/Cliente/consulta">Consultar um cliente</a></li>
</ul>
<ul>
    <li class="btn-voltar"><a href="/Cliente/inicio">Voltar</a></li>
</ul>