<h1>Cadastro de reserva</h1>
<form class="form" action="/cadastro/reserva" method="post">
 <div class="form-control">
    <label for="idCliente">ID do cliente:</label>
    <input type="number" name="idCliente"  value="{{idCliente}}">
  </div>
  <div class="form-control">
    <label for="idVeiculo">ID do Veículo</label>
    <input type="number" name="idVeiculo" value="{{idVeiculo}}">
  </div>
  <div class="form-control">
    <label for="data_inicio">Data início da reserva:</label>
    <input type="date" name="data_inicio" value="{{data_inicio}}">
  </div>
  <div class="form-control">
    <label for="data_fim">Data final da reserva:</label>
    <input type="date" name="data_fim" value="{{data_fim}}">
  </div>
  <input type="submit" value="Reservar">
</form>
<ul>
    <li><a href="/reserva">Voltar</a></li>
</ul>