<h1>O que deseja realizar?</h1>
<ul>
    <li><a href="/cadastrocarro">Cadastrar um veículo</a></li>
    <li><a href="/consultacarro">Consultar um veículo</a></li>
</ul>
<ul>
    <li><a href="/">Voltar</a></li>
</ul>