<h1>Serviços disponíveis</h1>
<ul>
    <li><a href="/carro"><img src="img/carros.png" alt=""></a></img></li>
    <li><a href="/cliente"><img src="img/clientes.png" alt=""></a></img></li>
    <li><a href="/reservas"><img src="img/reservas.png" alt=""></a></img></li>
</ul>