*{
  margin: 0;
}
ul{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
ul li{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

ul li a{
  color: #fff;
}
ul li input{
  width: 400px;
  height: 25px;
}
h1{
    text-align: center;
}

span{
    color: red;
}
#hm{
  background-color: rgb(255, 105, 105);
  height: 60px;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}